#beach {
    height: 100vh;
}

#bg1  {
    position: absolute;
    bottom: 0px;
}

#bg2  {
    position: absolute;
    bottom: 20vh;
}
#bg3  {
    position: absolute;
    bottom: 15vh;
    left: 200px;
}
body {
    margin: 0px;
}